{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Arch App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client">Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Project</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i> 
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Create New Client</h1>

        <div class="card">
            <div class="card-body">
                {{ include('client/_form.html.twig') }}
            </div>
        </div>
            <div class="my-3"></div>

        <a href="{{ path('app_client_index') }}" class="btn btn-danger btn-lg">Back to List</a>
    </div>
{% endblock %}
