{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">

    <h1>Edit User</h1>
        <div class="card">
            <div class="card-body">
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
<div class="my-3"></div>
        <a href="{{ path('app_user_index', {'id': user.id}) }}" class="btn btn-primary btn-block">back to user list</a>
        <br>
        {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
