{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create New User</h1>

        <div class="card">
            <div class="card-body">
                {{ include('user/_form.html.twig') }}
            </div>
        </div>
            <div class="my-3"></div>

        <a href="{{ path('app_client_index') }}" class="btn btn-danger btn-lg">Back to List</a>
    </div>
{% endblock %}
